<img src="<%= @project.image_URL%>" alt="HTML5 Icon" style="width:300px;height:300px;">

  <h1><%= @project.title %> </h1><br>
    <h2>Materials:</h2><%= @project.materials %><br>
    <h2>Instructions:</h2><%= @project.instructions %><br>
    <h2>Author:</h2><%= @project.author %><br>
